@charset "UTF-8";

#users {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	width: auto;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

#users th {
	padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 3px;
    text-align: left;
    background-color: orange;
    color: white;
    border: 1px solid #ddd;
    
}

#users td {
	padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 8px;
    padding-left: 2px;
    text-align: left;
    color: black;
    border: 1px solid #ddd;
    
}

#users tr:nth-child(even){background-color: #eaeaea;}

#users tr:hover {background-color: #919191;}
